{% extends 'base.html' %}

{% block content %}
<div class="auth-form">
    <h1>👤 Регистрация</h1>

    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}"/>

        <div class="form-error">{{ form.non_field_errors }}</div>

        {% for f in form %}
        <div class="form-group">
            <label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>
            {{ f }}
            <div class="form-error">{{ f.errors }}</div>
        </div>
        {% endfor %}

        <div class="form-group">
            <button type="submit" class="btn btn-success" style="width: 100%;">Зарегистрироваться</button>
        </div>
    </form>
</div>
{% endblock %}